<div *ngIf="loggedIn===false">
  <header>
    <h1 class="logo">My Events</h1>
    <ul class="nav">
      <li class="navlink"><a href="#">Home</a></li>
      <li class="navlink"><a href="#">Events</a></li>
      <li class="navlink">
        <i
          class="fab fa-facebook-square fa-lg loginBtn loginBtn--facebook"
          (click)="signInWithFB()"
        ></i>
      </li>
    </ul>
  </header>
</div>

<div *ngIf="loggedIn===true">
  <header>
    <h1 class="logo">My Events</h1>
    <ul class="nav">
      <li class="navlink"><a href="#">Home</a></li>
      <li class="navlink"><a href="#">Events</a></li>
      <li class="navlink"><a href="#">Profile</a></li>
    </ul>
  </header>
</div>
<main>
  <div *ngIf="loggedIn===true" class="container">
    <form id="contact" action="">
      <h3>User information</h3>
      <fieldset>
        <input type="text" class="form-control" id="firstname" [value]="user.firstName" readonly >
      </fieldset>
      <fieldset>
        <input type="text" class="form-control" id="lastname" [value]="user.lastName" readonly >
      </fieldset>
      <fieldset>
        <input type="text" class="form-control" id="email2" [value]="user.email" readonly >
      </fieldset>
	      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" (click)="signOut()">Sign Out</button>
    </form>
   </div>
  <h2 class="center">Nos derniers événements</h2>
  <div *ngFor="let event of events | filter: searchText">
    <article class="card">
      <div class="card__left">
        <div class="card__image">
          <a href="{{ event.url }}">
            <img
              src="https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"
              alt="Event image"
          /></a>
        </div>
      </div>
      <div class="card__right">
        <div class="card__sale-flag">Respect des distanciations sociales</div>
        <h2 class="card__name">{{ event.title || 'unknown' }}</h2>
        <div class="card__address">{{ event.venue_address || 'unknown' }}</div>
        <div class="card__address">{{ event.city_name || 'unknown' }}</div>
        <p class="card__info">
          {{ event.description || 'No description of the event' }}
        </p>
        <a href="{{ event.url }}"
          ><button class="card__cta">Voir événement</button></a
        >
      </div>
    </article>
  </div>
</main>
<footer>
  <h3 class="logo">Les boss du game</h3>
</footer>